[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
	update = merge
[submodule "vim/bundle/minibufexp"]
	path = vim/bundle/minibufexp
	url = https://github.com/fholgado/minibufexpl.vim.git
	update = merge
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
	update = merge
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/preservim/tagbar.git
	update = merge
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
	update = merge
[submodule "vim/bundle/vim-tmux-navigator"]
	path = vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
	update = merge
[submodule "vim/bundle/vim-dispatch"]
	path = vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
	update = merge
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
	update = merge
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
	update = merge
[submodule "vim/bundle/rust.vim"]
	path = vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
	update = merge
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
	update = merge
[submodule "vim/bundle/ale"]
	path = vim/bundle/ale
	url = https://github.com/dense-analysis/ale.git
	update = merge
[submodule "vim/bundle/vim-vsnip"]
	path = vim/bundle/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip.git
[submodule "vim/bundle/friendly-snippets"]
	path = vim/bundle/friendly-snippets
	url = https://github.com/rafamadriz/friendly-snippets.git
